openapi: 3.1.0
info:
  title: Shipments
  version: 3.0.0
  description: >-
    The Shipments API allows you to create and announce, retrieve, and cancel
    outgoing shipments and their associated parcels within the Sendcloud
    platform.
  contact:
    name: Sendcloud API Support
    email: contact@sendcloud.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://panel.sendcloud.sc/api/v3
    description: Sendcloud Production
tags:
  - name: Shipments
    description: Shipments API
paths:
  /shipments/announce:
    post:
      summary: Create and announce a shipment synchronously
      description: >-
        This endpoint **announces a shipment synchronously** under your API
        credentials.
      x-mint:
        href: /api/v3/shipments/create-and-announce-a-shipment-synchronously
        content: >-
          ## International shipments


          If you want to create a shipment to be sent to a destination country
          outside the EU, it's mandatory to include additional information
          related to the shipment contents. This allows Sendcloud to
          automatically generate the required customs documentation based on the
          international shipping option selected. After the shipping label and
          associated documents are generated, you can retrieve and download them
          via the [Retrieve a parcel
          document](/api/v3/parcel-documents/retrieve-a-parcel-document)
          endpoint.


          Note that when passing along prices, mixed currencies are not
          accepted. Therefore, ensure that all price fields use the same
          currency.
      tags:
        - Shipments
      operationId: sc-public-v3-scp-post-announce_shipment
      parameters:
        - $ref: '#/components/parameters/SendcloudPartnerId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipment-request-sync-announce'
            examples:
              CreateDomesticSingleParcelShipment:
                summary: Create a domestic shipment (with a single parcel)
                value:
                  label_details:
                    mime_type: application/pdf
                    dpi: 72
                  to_address:
                    name: John Doe
                    company_name: Sendcloud
                    address_line_1: Insulindelaan 115
                    house_number: '115'
                    postal_code: 5642CV
                    city: Eindhoven
                    country_code: NL
                    phone_number: '+31612345678'
                    email: john.doe@sendcloud.com
                    po_box: PO Box 678
                  from_address:
                    name: Marie Doe
                    company_name: Sendcloud
                    address_line_1: Stadhuisplein 10
                    address_line_2: 2e verdieping
                    house_number: '10'
                    postal_code: 5611 EM
                    city: Eindhoven
                    country_code: NL
                    phone_number: '+31612345678'
                    email: marie.doe@sendcloud.com
                    po_box: PO Box 478
                  ship_with:
                    type: shipping_option_code
                    properties:
                      shipping_option_code: postnl:standard
                      contract_id: 517
                  order_number: '1234567890'
                  total_order_price:
                    currency: EUR
                    value: '11.11'
                  parcels:
                    - dimensions:
                        length: '5.00'
                        width: '15.00'
                        height: '20.00'
                        unit: cm
                      weight:
                        value: '1.320'
                        unit: kg
                      label_notes:
                        - I live at the blue door
                        - The doorbell isn't working
                      parcel_items:
                        - item_id: '5552'
                          description: T-Shirt XL
                          quantity: 1
                          weight:
                            value: 0.3
                            unit: kg
                          price:
                            value: '12.65'
                            currency: EUR
                          hs_code: '620520'
                          origin_country: NL
                          sku: TS1234
                          product_id: '19284'
                          mid_code: NLOZR92MEL
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: XL
                            color: green
                        - item_id: '98712'
                          description: Sneakers 42
                          quantity: 1
                          weight:
                            value: 1.02
                            unit: kg
                          price:
                            value: '12.65'
                            currency: EUR
                          hs_code: '620520'
                          origin_country: US
                          sku: TS1234
                          product_id: '19284'
                          mid_code: US1234567
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: 42
                            color: black
              CreateCustomsRequiredShipment:
                summary: Create a shipment (with a single parcel) that requires customs
                value:
                  label_details:
                    mime_type: application/pdf
                    dpi: 72
                  to_address:
                    name: John Doe
                    company_name: Company XYZ
                    address_line_1: 123 West 43rd St
                    postal_code: '10036'
                    city: New York
                    country_code: US
                    phone_number: '+12129976661'
                    email: john.doe@sendcloud.com
                    state_province_code: US-NY
                    po_box: PO Box 678
                  from_address:
                    name: Marie Doe
                    company_name: Sendcloud
                    address_line_1: Stadhuisplein 10
                    address_line_2: 2e verdieping
                    house_number: '10'
                    postal_code: 5611 EM
                    city: Eindhoven
                    country_code: NL
                    phone_number: '+31612345678'
                    email: marie.doe@sendcloud.com
                    po_box: PO Box 478
                  ship_with:
                    type: shipping_option_code
                    properties:
                      shipping_option_code: dhl_express:worldwide/incoterm=dap
                      contract_id: 4195
                  order_number: '1234567890'
                  total_order_price:
                    currency: EUR
                    value: '11.11'
                  parcels:
                    - dimensions:
                        length: '5.00'
                        width: '15.00'
                        height: '20.00'
                        unit: cm
                      weight:
                        value: '1.320'
                        unit: kg
                      parcel_items:
                        - item_id: '5552'
                          description: T-Shirt XL
                          quantity: 1
                          weight:
                            value: 0.3
                            unit: kg
                          price:
                            value: '12.65'
                            currency: EUR
                          hs_code: '620520'
                          origin_country: NL
                          sku: TS1234
                          product_id: '19284'
                          mid_code: NLOZR92MEL
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: XL
                            color: green
                        - item_id: '98712'
                          description: Sneakers 42
                          quantity: 1
                          weight:
                            value: 1.02
                            unit: kg
                          price:
                            value: '12.65'
                            currency: EUR
                          hs_code: '620520'
                          origin_country: US
                          sku: TS1234
                          product_id: '19284'
                          mid_code: US1234567
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: 42
                            color: black
                  customs_information:
                    invoice_number: INV-123
                    export_reason: commercial_goods
                    export_type: private
                    invoice_date: '2023-08-24'
                    discount_granted:
                      value: '14.99'
                      currency: EUR
                    freight_costs:
                      value: '21.98'
                      currency: EUR
                    insurance_costs:
                      value: '3.60'
                      currency: EUR
                    other_costs:
                      value: '1.2'
                      currency: EUR
                    goods_description: Electronic components and accessories
                    general_notes: >-
                      Compliance: Goods comply with international safety
                      standards (CE certified).
                    additional_declaration_statements:
                      - >-
                        With reference to the above shipment, I understate that
                        the content is not made of leather parts of animal
                        species protected by the Washington Convention.
                      - >-
                        I solemnly declare that the contents of this document
                        represent a true and accurate account of the events as
                        they occurred. I acknowledge my responsibility for the
                        information presented herein and understand that any
                        misrepresentation or falsification may result in legal
                        consequences or other penalties as applicable.
                    importer_of_record:
                      name: John Doe
                      company_name: Company XYZ
                      address_line_1: 123 West 43rd St
                      postal_code: '10036'
                      city: New York
                      country_code: US
                      state_province_code: US-NY
                      telephone: '+12129976661'
                      email: john.doe@sendcloud.com
                    tax_numbers:
                      sender:
                        - name: VAT
                          country_code: NL
                          value: NL123456789B01
                        - name: EORI
                          country_code: NL
                          value: NL123456789
                      receiver:
                        - name: EIN
                          country_code: US
                          value: '123456789'
                      importer_of_record:
                        - name: EIN
                          country_code: US
                          value: '123456789'
        description: ''
      responses:
        '201':
          description: Shipment response
          content:
            application/json:
              schema:
                description: Create a shipment
                type: object
                title: Announced shipment including label
                properties:
                  data:
                    $ref: '#/components/schemas/sync-shipment-response'
              examples:
                CreatedSingleParcelDomesticShipment:
                  summary: Domestic Shipment (with single parcel) created
                  value:
                    data:
                      id: XXX-Shipment-id
                      label_details:
                        mime_type: application/pdf
                        dpi: 72
                      order_number: '1234567890'
                      total_order_price:
                        currency: EUR
                        value: '11.11'
                      parcels:
                        - id: 383707309
                          status:
                            code: READY_TO_SEND
                            message: Ready to send
                          documents:
                            - type: label
                              size: a6
                              link: >-
                                https://panel.sendcloud.sc/api/v3/parcels/383707309/documents/label
                          dimensions:
                            width: '15.00'
                            length: '5.00'
                            height: '20.00'
                            unit: cm
                          weight:
                            value: '1.320'
                            unit: kg
                          tracking_url: >-
                            https://tracking.eu-central-1-0.sendcloud.sc/forward?carrier=postnl&code=3SYZXG8498635&destination=NL&lang=en-us&source=NL&type=parcel&verification=5642+CV&servicepoint_verification=&created_at=2024-06-06
                          tracking_number: 3SYZXG8498635
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          created_at: '2024-06-06T17:11:14.616615Z'
                          updated_at: '2024-06-06T17:11:14.648081Z'
                          announced_at: '2024-06-06T17:11:14.712398Z'
                          label_notes:
                            - I live at the blue door
                            - The doorbell isn't working
                          parcel_items:
                            - item_id: '5552'
                              description: T-Shirt XL
                              quantity: 1
                              weight:
                                value: 0.3
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: NL
                              sku: TS1234
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: XL
                                color: green
                            - item_id: '98712'
                              description: Sneakers 42
                              quantity: 1
                              weight:
                                value: 1.02
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: US
                              sku: TS1234
                              product_id: '19284'
                              mid_code: US1234567
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: 42
                                color: black
                      from_address:
                        address_line_1: Stadhuisplein 10
                        address_line_2: 2e verdieping
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: marie.doe@sendcloud.com
                        house_number: '10'
                        name: Marie Doe
                        phone_number: '+31612345678'
                        postal_code: 5611 EM
                        po_box: PO Box 678
                      to_address:
                        address_line_1: Insulindelaan
                        address_line_2: ''
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: john.doe@sendcloud.com
                        house_number: '115'
                        name: John Doe
                        phone_number: '+31612345678'
                        postal_code: 5642 CV
                        po_box: PO Box 483
                      ship_with:
                        type: shipping_option_code
                        properties:
                          shipping_option_code: postnl:standard
                          contract_id: 517
                      customs_information: null
                      carrier:
                        code: postnl
                        name: PostNL
                      errors: []
                CreatedCustomsRequiredShipment:
                  summary: Shipment (with Customs and a single parcel) created
                  value:
                    data:
                      id: XXX-Shipment-id
                      label_details:
                        mime_type: application/pdf
                        dpi: 72
                      order_number: '1234567890'
                      total_order_price:
                        currency: EUR
                        value: '11.11'
                      parcels:
                        - id: 383707309
                          status:
                            code: READY_TO_SEND
                            message: Ready to send
                          documents:
                            - type: label
                              size: a6
                              link: >-
                                https://panel.sendcloud.sc/api/v3/parcels/383707309/documents/label
                          dimensions:
                            width: '15.00'
                            length: '5.00'
                            height: '20.00'
                            unit: cm
                          weight:
                            value: '1.320'
                            unit: kg
                          tracking_url: >-
                            https://tracking.eu-central-1-0.sendcloud.sc/forward?carrier=postnl&code=3SYZXG8498635&destination=NL&lang=en-us&source=NL&type=parcel&verification=5642+CV&servicepoint_verification=&created_at=2024-06-06
                          tracking_number: 3SYZXG8498635
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          created_at: '2024-06-06T17:11:14.616615Z'
                          updated_at: '2024-06-06T17:11:14.648081Z'
                          announced_at: '2024-06-06T17:11:14.712398Z'
                          parcel_items:
                            - item_id: '5552'
                              description: T-Shirt XL
                              quantity: 1
                              weight:
                                value: 0.3
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: NL
                              sku: TS1234
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: XL
                                color: green
                            - item_id: '98712'
                              description: Sneakers 42
                              quantity: 1
                              weight:
                                value: 1.02
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: US
                              sku: TS1234
                              product_id: '19284'
                              mid_code: US1234567
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: 42
                                color: black
                      from_address:
                        address_line_1: Stadhuisplein 10
                        address_line_2: 2e verdieping
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: marie.doe@sendcloud.com
                        house_number: '10'
                        name: Marie Doe
                        phone_number: '+31612345678'
                        postal_code: 5611 EM
                        po_box: PO Box 678
                      to_address:
                        name: John Doe
                        company_name: Company XYZ
                        address_line_1: 10 Kamal Chunchie Way
                        address_line_2: ''
                        postal_code: E16 1ZE
                        city: London
                        country_code: GB
                        phone_number: '+31612345678'
                        email: john.doe@sendcloud.com
                        state_province_code: GB-ENG
                        po_box: PO Box 678
                      ship_with:
                        type: shipping_option_code
                        properties:
                          shipping_option_code: dhl_express:worldwide/incoterm=dap
                          contract_id: 4195
                      customs_information:
                        invoice_number: INV-123
                        export_reason: commercial_goods
                        export_type: private
                        invoice_date: '2023-08-24'
                        discount_granted:
                          value: '14.99'
                          currency: EUR
                        freight_costs:
                          value: '21.98'
                          currency: EUR
                        insurance_costs:
                          value: '3.60'
                          currency: EUR
                        other_costs:
                          value: '1.2'
                          currency: EUR
                        goods_description: Electronic components and accessories
                        general_notes: >-
                          Compliance: Goods comply with international safety
                          standards (CE certified).
                        additional_declaration_statements:
                          - >-
                            With reference to the above shipment, I understate
                            that the content is not made of leather parts of
                            animal species protected by the Washington
                            Convention.
                          - >-
                            I solemnly declare that the contents of this
                            document represent a true and accurate account of
                            the events as they occurred. I acknowledge my
                            responsibility for the information presented herein
                            and understand that any misrepresentation or
                            falsification may result in legal consequences or
                            other penalties as applicable.
                        importer_of_record:
                          name: John Doe
                          company_name: ImporterCo
                          address_line_1: Maple Avenue
                          address_line_2: ''
                          house_number: '123'
                          postal_code: '90210'
                          city: Springfield
                          country_code: US
                          state_province_code: US-MA
                          telephone: '+15551234567'
                          email: info@importer-of-record-example.com
                        tax_numbers:
                          sender:
                            - name: VAT
                              country_code: NL
                              value: NL123456789B01
                            - name: EORI
                              country_code: NL
                              value: NL123456789
                          receiver:
                            - name: EIN
                              country_code: US
                              value: '123456789'
                          importer_of_record:
                            - name: EIN
                              country_code: US
                              value: '987654321'
                      carrier:
                        code: postnl
                        name: PostNL
                      errors: []
                DomesticSingleParcelShipmentAnnouncementFailed:
                  summary: >-
                    Domestic with a single parcel shipment created, but
                    announcement failed
                  value:
                    data:
                      id: XXX-Shipment-id
                      order_number: '1234567890'
                      total_order_price:
                        currency: EUR
                        value: '11.11'
                      parcels:
                        - id: 383707309
                          created_at: '2018-01-01T21:45:30'
                          updated_at: '2018-01-01T21:47:12'
                          announced_at: '2018-01-01T21:47:13'
                          tracking_number: 3SYZXG8498635
                          dimensions:
                            length: '5.00'
                            width: '15.00'
                            height: '20.00'
                            unit: cm
                          weight:
                            value: '1.320'
                            unit: kg
                          status:
                            code: ANNOUNCEMENT_FAILED
                            message: Announcement Failed
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          parcel_items:
                            - item_id: '5552'
                              description: T-Shirt XL
                              quantity: 1
                              weight:
                                value: 0.3
                                unit: kg
                              price:
                                value: 12.65
                                currency: EUR
                              hs_code: '620520'
                              origin_country: NL
                              sku: TS1234
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: null
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: XL
                                color: green
                            - item_id: '98712'
                              description: Sneakers 42
                              quantity: 1
                              weight:
                                value: 1.02
                                unit: kg
                              price:
                                value: 12.65
                                currency: EUR
                              hs_code: '620520'
                              origin_country: US
                              sku: TS1234
                              product_id: '19284'
                              mid_code: US1234567
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: 42
                                color: black
                      to_address:
                        name: John Doe
                        company_name: Sendcloud
                        address_line_1: Insulindelaan 115
                        address_line_2: ''
                        house_number: '115'
                        postal_code: 5642CV
                        city: Eindhoven
                        country_code: NL
                        phone_number: '+31612345678'
                        email: john.doe@sendcloud.com
                        state_province_code: ''
                        po_box: PO Box 678
                      from_address:
                        name: Marie Doe
                        company_name: Sendcloud
                        address_line_1: Stadhuisplein 10
                        address_line_2: 2e verdieping
                        house_number: 5A
                        postal_code: 5611 EM
                        city: Eindhoven
                        country_code: NL
                        phone_number: '+31612345678'
                        email: marie.doe@sendcloud.com
                        state_province_code: ''
                        po_box: PO Box 483
                      ship_with:
                        type: shipping_option_code
                        properties:
                          shipping_option_code: postnl:standard
                          contract_id: 517
                      carrier:
                        code: postnl
                        name: PostNL
                      errors:
                        - status: '500'
                          code: parcel_announcement_error
                          detail: >-
                            Service error: An error occurred while connecting to
                            the carrier.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              examples:
                Failed:
                  summary: Failed to create shipment with a single parcel
                  value:
                    errors:
                      - detail: This field is required.
                        status: '400'
                        source:
                          pointer: /to_address/name
                        code: required
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              examples:
                NotFound:
                  summary: Partner ID was not found.
                  value:
                    errors:
                      - title: Not found
                        detail: The partner ID was not found.
                        status: '404'
                        code: not_found
      security:
        - HTTPBasicAuth: []
        - OAuth2ClientCreds: []
  /shipments:
    get:
      summary: Retrieve shipments
      description: >-
        This endpoint allows you to retrieve a list of all the shipments which
        you have created or imported into your Sendcloud account under your API
        credentials. You can filter the results based on several query
        parameters.


        This endpoint uses cursor-based pagination via `Link` headers. See
        [Pagination](/api/v3/pagination) for details.
      x-mint:
        href: /api/v3/shipments/retrieve-shipments
      x-sendcloud-paginated: true
      x-sendcloud-paginated-discriminator: shipments
      tags:
        - Shipments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Retrieve shipments
                type: object
                properties:
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      $ref: '#/components/schemas/shipment-response'
                required:
                  - data
              examples:
                RetrievedDomesticSingleParcelShipments:
                  summary: Retrieve shipments with a single parcel)
                  value:
                    data:
                      - id: XXX-Shipment-id
                        order_number: '1234567890'
                        total_order_price:
                          currency: EUR
                          value: '11.11'
                        parcels:
                          - id: 383707309
                            status:
                              code: CANCELLED
                              message: Cancelled
                            documents:
                              - type: label
                                size: a6
                                link: >-
                                  https://panel.sendcloud.sc/api/v3/parcels/383707309/documents/label
                            dimensions:
                              width: '15.00'
                              length: '5.00'
                              height: '20.00'
                              unit: cm
                            weight:
                              value: '1.320'
                              unit: kg
                            tracking_url: >-
                              https://tracking.eu-central-1-0.sendcloud.sc/forward?carrier=postnl&code=3SYZXG5051720&destination=NL&lang=en-us&source=NL&type=parcel&verification=5642+CV&servicepoint_verification=&created_at=2024-06-07
                            tracking_number: 3SYZXG5051720
                            additional_carrier_data:
                              awb_tracking_number: null
                              box_number: null
                            created_at: '2024-06-07T09:02:18.864105Z'
                            updated_at: '2024-06-07T09:32:22.804278Z'
                            announced_at: '2024-06-07T09:02:19.480225Z'
                            label_notes:
                              - I live at the blue door
                              - The doorbell isn’t working
                            parcel_items:
                              - item_id: '5552'
                                description: T-Shirt XL
                                quantity: 1
                                weight:
                                  value: '0.3'
                                  unit: kg
                                price:
                                  value: '12.65'
                                  currency: EUR
                                hs_code: '620520'
                                origin_country: NL
                                sku: TS1234
                                product_id: '19284'
                                mid_code: NLOZR92MEL
                                material_content: 100% Cotton
                                intended_use: Personal use
                                dds_reference: 25FIYPEK0A7573
                                taric_doc_code: Y142
                                properties:
                                  size: XL
                                  color: green
                              - item_id: '98712'
                                description: Sneakers 42
                                quantity: 1
                                weight:
                                  value: '1.02'
                                  unit: kg
                                price:
                                  value: '12.65'
                                  currency: EUR
                                hs_code: '620520'
                                origin_country: US
                                sku: TS1234
                                product_id: '19284'
                                mid_code: US1234567
                                material_content: 100% Cotton
                                intended_use: Personal use
                                dds_reference: 25FIYPEK0A7573
                                taric_doc_code: Y142
                                properties:
                                  size: 42
                                  color: black
                        from_address:
                          address_line_1: Stadhuisplein 10
                          address_line_2: 2e verdieping
                          city: Eindhoven
                          company_name: Sendcloud
                          country_code: NL
                          email: marie.doe@sendcloud.com
                          house_number: '10'
                          name: Marie Doe
                          phone_number: '+31612345678'
                          postal_code: 5611 EM
                          po_box: PO Box 678
                        to_address:
                          address_line_1: Insulindelaan
                          address_line_2: ''
                          city: Eindhoven
                          company_name: Sendcloud
                          country_code: NL
                          email: john.doe@sendcloud.com
                          house_number: '115'
                          name: John Doe
                          phone_number: '+31612345678'
                          postal_code: 5642 CV
                          po_box: PO Box 483
                        ship_with:
                          type: shipping_option_code
                          properties:
                            shipping_option_code: postnl:standard
                            contract_id: 517
                        customs_information: null
          headers:
            Link:
              description: >-
                The pagination links, according to the web linking specification
                (RFC8288).
              schema:
                type: string
                example: >-
                  <https://panel.sendcloud.sc/api/v3/shipments/?cursor=cj0xJnA9MjUzNTQyMzM3>;
                  rel="prev",
                  <https://panel.sendcloud.sc/api/v3/shipments/?cursor=cD0yNTM1NDIyODI%3D>;
                  rel="next"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              examples:
                ValidationError:
                  summary: Datetime parsing error
                  value:
                    errors:
                      - detail: Validation failed, announced_after is not a datetime
                        status: '404'
                        source:
                          pointer: /list_shipments/filters
                        code: validation_error
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              examples:
                InvalidCursor:
                  summary: Invalid cursor
                  value:
                    errors:
                      - detail: Invalid cursor
                        status: '404'
                        source:
                          pointer: /data
                        code: not_found
      operationId: sc-public-v3-scp-get-all_shipments
      security:
        - HTTPBasicAuth: []
        - OAuth2ClientCreds: []
      parameters:
        - schema:
            oneOf:
              - type: string
              - type: integer
          in: query
          name: parcel_status
          description: >-
            Returns shipments that have the requested status. For a list of
            possible statuses, see the [Retrieve a list of parcel
            statuses](/api/v3/parcel-statuses/retrieve-a-list-of-parcel-statuses)
            endpoint.
        - schema:
            type: string
          in: query
          name: tracking_number
          description: Returns shipments that match a specified tracking number
        - schema:
            type: string
          in: query
          name: external_reference_id
          description: Returns shipments that match a specified external reference
        - schema:
            type: string
          in: query
          name: order_number
          description: >-
            Returns a shipment that matches a specific `order_number` property
            from your shipments
        - schema:
            type: string
          in: query
          name: integration_id
          description: >-
            Returns all shipments that matches a specific `integration_id`
            property from your shipments
        - schema:
            type: string
            example: '2018-02-26T11:01:47.505309+00:00'
          in: query
          name: updated_before
          description: >-
            Returns all shipments which have been updated in our system before a
            given time. Use the ISO 8601 datetime format.
        - schema:
            type: string
            example: '2018-02-26T11:01:47.505309+00:00'
          in: query
          name: updated_after
          description: >-
            Returns all shipments which have been updated in our system after a
            given time. Use the ISO 8601 datetime format.
        - schema:
            type: string
            example: '2018-02-26T11:01:47.505309+00:00'
          in: query
          name: announced_before
          description: >-
            Returns all shipments which have been announced to the carrier
            before the given time. Use the ISO 8601 datetime format.
        - schema:
            type: string
            example: '2018-02-26T11:01:47.505309+00:00'
          in: query
          name: announced_after
          description: >-
            Returns all shipments which have been announced to the carrier after
            the given time. Use the ISO 8601 datetime format.
        - schema:
            type: string
            example: 13579,24680,12345
          in: query
          name: ids
          description: >-
            Filter results using a comma-separated list of *parcels IDs*. The
            list may not contain more than 100 IDs.
        - schema:
            type: string
            example: >-
              4df31240-daef-40bf-81fc-7a83184073e6,adbb3dce-9756-42b0-838d-a478a5236289
          in: query
          name: shipment_uuids
          description: >-
            Filter results using a comma-separated list of *shipments IDs*. The
            list may not contain more than 100 IDs.
        - $ref: '#/components/parameters/Cursor'
        - schema:
            type: integer
            minimum: 1
            default: 40
            maximum: 100
            example: 10
          in: query
          name: page_size
          description: The maximum number of items to be returned in the response.
    post:
      summary: Create and announce a shipment asynchronously
      description: >-
        This endpoint **announces a shipment asynchronously** under your API
        credentials.
      x-mint:
        href: /api/v3/shipments/create-and-announce-a-shipment-asynchronously
        content: >-
          ## International shipments


          If you want to create a shipment to be sent to a destination country
          outside the EU, it's mandatory to include additional information
          related to the shipment contents. This allows Sendcloud to
          automatically generate the required customs documentation based on the
          international shipping option selected. After the shipping label and
          associated documents are generated, you can retrieve and download them
          via the [Retrieve a parcel
          document](/api/v3/parcel-documents/retrieve-a-parcel-document)
          endpoint.


          Note that when passing along prices, mixed currencies are not
          accepted. Therefore, ensure that all price fields use the same
          currency.


          ## Multicollo


          Learn more about multicollo in our [Multicollo
          guide](/docs/shipping/multicollo).
      tags:
        - Shipments
      operationId: sc-public-v3-scp-post-create_shipment
      security:
        - HTTPBasicAuth: []
        - OAuth2ClientCreds: []
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                description: Create a shipment
                type: object
                title: Shipment created response
                properties:
                  data:
                    $ref: '#/components/schemas/shipment-response'
              examples:
                CreatedDomesticSingleParcelShipment:
                  summary: Domestic Shipment (with a single parcel) created
                  value:
                    data:
                      id: XXX-Shipment-id
                      order_number: '1234567890'
                      total_order_price:
                        currency: EUR
                        value: '11.11'
                      parcels:
                        - status:
                            code: ANNOUNCING
                            message: Being announced
                          documents: []
                          dimensions:
                            width: '15.00'
                            length: '5.00'
                            height: '20.00'
                            unit: cm
                          weight:
                            value: '1.320'
                            unit: kg
                          tracking_url: null
                          tracking_number: ''
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          created_at: '2024-06-06T17:11:14.616615Z'
                          updated_at: '2024-06-06T17:11:14.648081Z'
                          announced_at: null
                          parcel_items:
                            - item_id: '5552'
                              description: T-Shirt XL
                              quantity: 1
                              weight:
                                value: 0.3
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: NL
                              sku: TS1234
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: XL
                                color: green
                            - item_id: '98712'
                              description: Sneakers 42
                              quantity: 1
                              weight:
                                value: 1.02
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: US
                              sku: TS1234
                              product_id: '19284'
                              mid_code: US1234567
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: 42
                                color: black
                      from_address:
                        address_line_1: Stadhuisplein 10
                        address_line_2: 2e verdieping
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: marie.doe@sendcloud.com
                        house_number: '10'
                        name: Marie Doe
                        phone_number: '+31612345678'
                        postal_code: 5611 EM
                        po_box: PO Box 678
                      to_address:
                        address_line_1: Insulindelaan
                        address_line_2: ''
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: john.doe@sendcloud.com
                        house_number: '115'
                        name: John Doe
                        phone_number: '+31612345678'
                        postal_code: 5642 CV
                        po_box: PO Box 478
                      ship_with:
                        type: shipping_option_code
                        properties:
                          shipping_option_code: postnl:standard
                          contract_id: 517
                      customs_information: null
                      carrier:
                        code: postnl
                        name: PostNL
                      errors: []
                CreatedCustomsRequiredShipment:
                  summary: Shipment (with Customs and a single parcel) created
                  value:
                    data:
                      id: XXX-Shipment-id
                      order_number: '1234567890'
                      total_order_price:
                        currency: EUR
                        value: '11.11'
                      parcels:
                        - id: 383707309
                          status:
                            code: ANNOUNCING
                            message: Being announced
                          documents: []
                          dimensions:
                            width: '15.00'
                            length: '5.00'
                            height: '20.00'
                            unit: cm
                          weight:
                            value: '1.320'
                            unit: kg
                          tracking_url: null
                          tracking_number: ''
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          created_at: '2024-06-06T17:11:14.616615Z'
                          updated_at: '2024-06-06T17:11:14.648081Z'
                          announced_at: null
                          parcel_items:
                            - item_id: '5552'
                              description: T-Shirt XL
                              quantity: 1
                              weight:
                                value: 0.3
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: NL
                              sku: TS1234
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: XL
                                color: green
                            - item_id: '98712'
                              description: Sneakers 42
                              quantity: 1
                              weight:
                                value: 1.02
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: US
                              sku: TS1234
                              product_id: '19284'
                              mid_code: US1234567
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: 42
                                color: black
                      from_address:
                        address_line_1: Stadhuisplein 10
                        address_line_2: 2e verdieping
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: marie.doe@sendcloud.com
                        house_number: '10'
                        name: Marie Doe
                        phone_number: '+31612345678'
                        postal_code: 5611 EM
                        po_box: PO Box 678
                      to_address:
                        name: John Doe
                        company_name: Company XYZ
                        address_line_1: 10 Kamal Chunchie Way
                        address_line_2: ''
                        postal_code: E16 1ZE
                        city: London
                        country_code: GB
                        phone_number: '+31612345678'
                        email: john.doe@sendcloud.com
                        state_province_code: GB-ENG
                        po_box: PO Box 678
                      ship_with:
                        type: shipping_option_code
                        properties:
                          shipping_option_code: dhl_express:worldwide/incoterm=dap
                          contract_id: 4195
                      customs_information:
                        invoice_number: INV-123
                        export_reason: commercial_goods
                        export_type: private
                        invoice_date: '2023-08-24'
                        discount_granted:
                          value: '14.99'
                          currency: EUR
                        freight_costs:
                          value: '21.98'
                          currency: EUR
                        insurance_costs:
                          value: '3.60'
                          currency: EUR
                        other_costs:
                          value: '1.2'
                          currency: EUR
                        goods_description: Electronic components and accessories
                        general_notes: >-
                          Compliance: Goods comply with international safety
                          standards (CE certified).
                        additional_declaration_statements:
                          - >-
                            With reference to the above shipment, I understate
                            that the content is not made of leather parts of
                            animal species protected by the Washington
                            Convention.
                          - >-
                            I solemnly declare that the contents of this
                            document represent a true and accurate account of
                            the events as they occurred. I acknowledge my
                            responsibility for the information presented herein
                            and understand that any misrepresentation or
                            falsification may result in legal consequences or
                            other penalties as applicable.
                        importer_of_record:
                          name: John Doe
                          company_name: ImporterCo
                          address_line_1: Maple Avenue
                          address_line_2: ''
                          house_number: '123'
                          postal_code: '90210'
                          city: Springfield
                          country_code: US
                          state_province_code: US-MA
                          telephone: '+15551234567'
                          email: info@importer-of-record-example.com
                        tax_numbers:
                          sender:
                            - name: VAT
                              country_code: NL
                              value: NL123456789B01
                            - name: EORI
                              country_code: NL
                              value: NL123456789
                          receiver:
                            - name: EIN
                              country_code: US
                              value: '123456789'
                          importer_of_record:
                            - name: EIN
                              country_code: US
                              value: '987654321'
                      carrier:
                        code: postnl
                        name: PostNL
                      errors: []
                CreatedDomesticMulticolloShipment:
                  summary: Domestic Multicollo Shipment created
                  value:
                    data:
                      id: 1ec27105-ca61-49f2-85d8-55952f714b8d
                      ship_with:
                        type: shipping_option_code
                        properties:
                          shipping_option_code: dpd:home
                          contract_id: 52024
                      from_address:
                        name: Marie Doe
                        company_name: Sendcloud
                        address_line_1: Stadhuisplein 10
                        house_number: '10'
                        address_line_2: 2e verdieping
                        postal_code: 5611 EM
                        city: Eindhoven
                        po_box: null
                        state_province_code: null
                        country_code: NL
                        email: marie.doe@sendcloud.com
                        phone_number: '+31612345678'
                      to_address:
                        name: Marie Doe
                        company_name: Sendcloud
                        address_line_1: Stadhuisplein
                        house_number: '10'
                        address_line_2: 2e verdieping
                        postal_code: 3029 AD
                        city: Rotterdam
                        po_box: PO Box 679
                        state_province_code: null
                        country_code: NL
                        email: marie.doe@sendcloud.com
                        phone_number: '+31612345678'
                      to_service_point: null
                      customs_information: null
                      parcels:
                        - parcel_items:
                            - origin_country: NL
                              hs_code: '12345678'
                              price:
                                value: '10.65'
                                currency: EUR
                              weight:
                                value: 0.3
                                unit: kg
                              description: T-Shirt XL
                              quantity: 1
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              item_id: '5552'
                              properties:
                                size: XL
                                color: green
                              sku: TS1234
                          dimensions:
                            width: '15.00'
                            length: '5.00'
                            height: '20.00'
                            unit: cm
                          weight:
                            value: '1.320'
                            unit: kg
                          created_at: '2024-10-30T14:02:30.844592Z'
                          updated_at: '2024-10-30T14:02:30.888261Z'
                          announced_at: null
                          id: 427189741
                          status:
                            code: ANNOUNCING
                            message: Being announced
                          documents: []
                          tracking_number: ''
                          tracking_url: null
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          label_file: null
                        - parcel_items:
                            - origin_country: NL
                              hs_code: '12345677'
                              price:
                                value: '7.65'
                                currency: EUR
                              weight:
                                value: 0.3
                                unit: kg
                              description: T-Shirt L
                              quantity: 1
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              item_id: '5552'
                              properties:
                                size: XL
                                color: green
                              sku: TS1235
                          dimensions:
                            width: '20.00'
                            length: '10.00'
                            height: '30.00'
                            unit: cm
                          weight:
                            value: '2.320'
                            unit: kg
                          created_at: '2024-10-30T14:02:30.844592Z'
                          updated_at: '2024-10-30T14:02:30.844592Z'
                          announced_at: null
                          id: 427189742
                          status:
                            code: ANNOUNCING
                            message: Being announced
                          documents: []
                          tracking_number: ''
                          tracking_url: null
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          label_file: null
                      order_number: '1234567890'
                      total_order_price:
                        value: '11.11'
                        currency: EUR
                      brand_id: null
                      carrier:
                        code: postnl
                        name: PostNL
                      errors: []
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              examples:
                Failed:
                  summary: Failed to create shipment (with a single parcel)
                  value:
                    errors:
                      - detail: This field is required.
                        status: '400'
                        source:
                          pointer: /data/attributes/to_address/name
                        code: required
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              examples:
                NotFound:
                  summary: Partner ID was not found.
                  value:
                    errors:
                      - title: Not found
                        detail: The partner ID was not found.
                        status: '404'
                        code: not_found
      parameters:
        - $ref: '#/components/parameters/SendcloudPartnerId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipment-request-async'
            examples:
              CreateDomesticSingleParcelShipment:
                summary: Create a domestic shipment (with a single parcel)
                value:
                  to_address:
                    name: John Doe
                    company_name: Sendcloud
                    address_line_1: Insulindelaan 115
                    house_number: '115'
                    postal_code: 5642CV
                    city: Eindhoven
                    country_code: NL
                    phone_number: '+31612345678'
                    email: john.doe@sendcloud.com
                    po_box: PO Box 678
                  from_address:
                    name: Marie Doe
                    company_name: Sendcloud
                    address_line_1: Stadhuisplein 10
                    address_line_2: 2e verdieping
                    house_number: '10'
                    postal_code: 5611 EM
                    city: Eindhoven
                    country_code: NL
                    phone_number: '+31612345678'
                    email: marie.doe@sendcloud.com
                    po_box: PO Box 478
                  ship_with:
                    type: shipping_option_code
                    properties:
                      shipping_option_code: postnl:standard
                      contract_id: 517
                  order_number: '1234567890'
                  total_order_price:
                    currency: EUR
                    value: '11.11'
                  parcels:
                    - dimensions:
                        length: '5.00'
                        width: '15.00'
                        height: '20.00'
                        unit: cm
                      weight:
                        value: '1.320'
                        unit: kg
                      parcel_items:
                        - item_id: '5552'
                          description: T-Shirt XL
                          quantity: 1
                          weight:
                            value: 0.3
                            unit: kg
                          price:
                            value: '12.65'
                            currency: EUR
                          hs_code: '620520'
                          origin_country: NL
                          sku: TS1234
                          product_id: '19284'
                          mid_code: NLOZR92MEL
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: XL
                            color: green
                        - item_id: '98712'
                          description: Sneakers 42
                          quantity: 1
                          weight:
                            value: 1.02
                            unit: kg
                          price:
                            value: '12.65'
                            currency: EUR
                          hs_code: '620520'
                          origin_country: US
                          sku: TS1234
                          product_id: '19284'
                          mid_code: US1234567
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: 42
                            color: black
              CreateCustomsRequiredShipment:
                summary: Create a shipment (with a single parcel) that requires customs
                value:
                  to_address:
                    name: John Doe
                    company_name: Company XYZ
                    address_line_1: 123 West 43rd St
                    postal_code: '10036'
                    city: New York
                    country_code: US
                    phone_number: '+12129976661'
                    email: john.doe@sendcloud.com
                    state_province_code: US-NY
                    po_box: PO Box 678
                  from_address:
                    name: Marie Doe
                    company_name: Sendcloud
                    address_line_1: Stadhuisplein 10
                    address_line_2: 2e verdieping
                    house_number: '10'
                    postal_code: 5611 EM
                    city: Eindhoven
                    country_code: NL
                    phone_number: '+31612345678'
                    email: marie.doe@sendcloud.com
                    po_box: PO Box 478
                  ship_with:
                    type: shipping_option_code
                    properties:
                      shipping_option_code: dhl_express:worldwide/incoterm=dap
                      contract_id: 4195
                  order_number: '1234567890'
                  total_order_price:
                    currency: EUR
                    value: '11.11'
                  parcels:
                    - dimensions:
                        length: '5.00'
                        width: '15.00'
                        height: '20.00'
                        unit: cm
                      weight:
                        value: '1.320'
                        unit: kg
                      parcel_items:
                        - item_id: '5552'
                          description: T-Shirt XL
                          quantity: 1
                          weight:
                            value: 0.3
                            unit: kg
                          price:
                            value: '12.65'
                            currency: EUR
                          hs_code: '620520'
                          origin_country: NL
                          sku: TS1234
                          product_id: '19284'
                          mid_code: NLOZR92MEL
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: XL
                            color: green
                        - item_id: '98712'
                          description: Sneakers 42
                          quantity: 1
                          weight:
                            value: 1.02
                            unit: kg
                          price:
                            value: '12.65'
                            currency: EUR
                          hs_code: '620520'
                          origin_country: US
                          sku: TS1234
                          product_id: '19284'
                          mid_code: US1234567
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: 42
                            color: black
                  customs_information:
                    invoice_number: INV-123
                    export_reason: commercial_goods
                    export_type: private
                    invoice_date: '2023-08-24'
                    discount_granted:
                      value: '14.99'
                      currency: EUR
                    freight_costs:
                      value: '21.98'
                      currency: EUR
                    insurance_costs:
                      value: '3.60'
                      currency: EUR
                    other_costs:
                      value: '1.2'
                      currency: EUR
                    goods_description: Electronic components and accessories
                    general_notes: >-
                      Compliance: Goods comply with international safety
                      standards (CE certified).
                    additional_declaration_statements:
                      - >-
                        With reference to the above shipment, I understate that
                        the content is not made of leather parts of animal
                        species protected by the Washington Convention.
                      - >-
                        I solemnly declare that the contents of this document
                        represent a true and accurate account of the events as
                        they occurred. I acknowledge my responsibility for the
                        information presented herein and understand that any
                        misrepresentation or falsification may result in legal
                        consequences or other penalties as applicable.
                    importer_of_record:
                      name: John Doe
                      company_name: Company XYZ
                      address_line_1: 123 West 43rd St
                      postal_code: '10036'
                      city: New York
                      country_code: US
                      state_province_code: US-NY
                      telephone: '+12129976661'
                      email: john.doe@sendcloud.com
                    tax_numbers:
                      sender:
                        - name: VAT
                          country_code: NL
                          value: NL123456789B01
                        - name: EORI
                          country_code: NL
                          value: NL123456789
                      receiver:
                        - name: EIN
                          country_code: US
                          value: '123456789'
                      importer_of_record:
                        - name: EIN
                          country_code: US
                          value: '123456789'
              CreateDomesticMulticolloShipment:
                summary: Create a multicollo domestic shipment
                value:
                  from_address:
                    address_line_1: Stadhuisplein 10
                    address_line_2: 2e verdieping
                    city: Eindhoven
                    company_name: Sendcloud
                    country_code: NL
                    email: marie.doe@sendcloud.com
                    house_number: '10'
                    name: Marie Doe
                    phone_number: '+31612345678'
                    postal_code: 5611 EM
                    po_box: PO Box 678
                  to_address:
                    address_line_1: Stadhuisplein 10
                    address_line_2: 2e verdieping
                    city: Rotterdam
                    company_name: Sendcloud
                    country_code: NL
                    email: marie.doe@sendcloud.com
                    house_number: '10'
                    name: Marie Doe
                    phone_number: '+31612345678'
                    postal_code: 3029 AD
                    po_box: PO Box 679
                  ship_with:
                    type: shipping_option_code
                    properties:
                      shipping_option_code: dpd:home
                  order_number: '1234567890'
                  total_order_price:
                    currency: EUR
                    value: '11.11'
                  parcels:
                    - dimensions:
                        length: '5.00'
                        width: '15.00'
                        height: '20.00'
                        unit: cm
                      weight:
                        value: '1.320'
                        unit: kg
                      parcel_items:
                        - item_id: '5552'
                          description: T-Shirt XL
                          quantity: 1
                          weight:
                            value: 0.3
                            unit: kg
                          price:
                            value: '10.65'
                            currency: EUR
                          hs_code: '12345678'
                          origin_country: NL
                          sku: TS1234
                          product_id: '19284'
                          mid_code: NLOZR92MEL
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: XL
                            color: green
                    - dimensions:
                        length: '10.00'
                        width: '20.00'
                        height: '30.00'
                        unit: cm
                      weight:
                        value: '2.320'
                        unit: kg
                      parcel_items:
                        - item_id: '5552'
                          description: T-Shirt L
                          quantity: 1
                          weight:
                            value: 0.3
                            unit: kg
                          price:
                            value: '7.65'
                            currency: EUR
                          hs_code: '12345677'
                          origin_country: NL
                          sku: TS1235
                          product_id: '19284'
                          mid_code: NLOZR92MEL
                          material_content: 100% Cotton
                          intended_use: Personal use
                          dds_reference: 25FIYPEK0A7573
                          taric_doc_code: Y142
                          properties:
                            size: XL
                            color: green
        description: ''
  /shipments/announce-with-shipping-rules:
    post:
      summary: >-
        Create a shipment with rules and/or defaults and announce it
        synchronously
      description: Create and announce a shipment applying shipping rules and/or defaults
      x-mint:
        href: >-
          /api/v3/shipments/create-a-shipment-with-rules-and-or-default-and-announce-it-synchronously
        content: >-
          The main advantage of this endpoint over the [Create and announce a
          shipment
          synchronously](/api/v3/shipments/create-and-announce-a-shipment-synchronously)
          endpoint (and also the difference between them) is the ability to
          apply [shipping rules](https://app.sendcloud.com/v2/shipping/rules)
          and [shipping
          defaults](https://app.sendcloud.com/v2/shipping/shipping-defaults) to
          a shipment. Because of this, more fields in this endpoint are
          optional.


          **Note: the shipment (parcels) will be linked to the integration
          identified by the API credentials you supply as request authentication
          (`Basic ...`).**


          ## Shipping rules


          - **Due to the data (shipments) that we receive in this API, NOT all
          of the shipping rules (actions or conditions) can (and will) be
          applied.**

          - **Shipping rules do not fully apply to multicollo shipments.
            In such cases, the rule conditions for weight, parcel dimensions (height, length, width), total order value, item name, item quantity, item SKU and total parcel item value will not be matched.
            Additionally, the following actions will not be triggered:**
            - Using a box (Use box)
            - Setting the weight (Set weight)
            - Setting the number of parcels (Set number of parcels)
            - Insuring the shipment value (Insure shipment value by)
            - Insuring it by percentage (Insure shipment value by %)
            - Increasing item value by percentage (Decrease item value by %)
            - Setting item HS code (Set Item HS Code)
            - Setting item name (Set item name)
            - Setting item origin country (Set Item Origin Country)
            - Setting item value (Set item value)
            - Setting item weight (Set item weight)

          **Please consider these limitations when defining rules.**


          ### Shipping rules conditions (IF) that can be applied


          - Carrier

          - Checkout delivery method

          - Company name

          - Customer email

          - Integration

          - Item SKU

          - Item name

          - Item quantity

          - Parcel height (cm)

          - Parcel length (cm)

          - Parcel width (cm)

          - Phone number

          - Postal code

          - To country

          - Total order value

          - Total parcel item value

          - Weight (kg)


          ## Shipping rules actions (THEN) that can be applied


          - Add customs declaration statement

          - Use box

          - Decrease item value by %

          - Insure shipment value by

          - Insure shipment value by %

          - Set customs general notes

          - Set customer email

          - Set Item HS Code

          - Set item name

          - Set Item Origin Country

          - Set item value

          - Set item weight

          - Set number of parcels

          - Phone number

          - Ship with address

          - Ship with

          - Set weight

          - Use shipping contract
      tags:
        - Shipments
      operationId: sc-public-v3-scp-post-announce_shipment_with_rules
      security:
        - HTTPBasicAuth: []
        - OAuth2ClientCreds: []
      responses:
        '201':
          description: Shipment response
          content:
            application/json:
              schema:
                description: Create a shipment
                type: object
                title: Announced shipment including label
                properties:
                  data:
                    $ref: '#/components/schemas/sync-shipment-with-rules-response'
              examples:
                CreatedSingleParcelDomesticShipment:
                  summary: Domestic Shipment (with single parcel) created
                  value:
                    data:
                      id: XXX-Shipment-id
                      label_details:
                        mime_type: application/pdf
                        dpi: 72
                      order_number: '1234567890'
                      total_order_price:
                        currency: EUR
                        value: '11.11'
                      parcels:
                        - id: 383707309
                          status:
                            code: READY_TO_SEND
                            message: Ready to send
                          documents:
                            - type: label
                              size: a6
                              link: >-
                                https://panel.sendcloud.sc/api/v3/parcels/383707309/documents/label
                          dimensions:
                            width: '15.00'
                            length: '5.00'
                            height: '20.00'
                            unit: cm
                          weight:
                            value: '1.320'
                            unit: kg
                          tracking_url: >-
                            https://tracking.eu-central-1-0.sendcloud.sc/forward?carrier=postnl&code=3SYZXG8498635&destination=NL&lang=en-us&source=NL&type=parcel&verification=5642+CV&servicepoint_verification=&created_at=2024-06-06
                          tracking_number: 3SYZXG8498635
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          created_at: '2024-06-06T17:11:14.616615Z'
                          updated_at: '2024-06-06T17:11:14.648081Z'
                          announced_at: '2024-06-06T17:11:14.712398Z'
                          label_notes:
                            - I live at the blue door
                            - The doorbell isn't working
                          parcel_items:
                            - item_id: '5552'
                              description: T-Shirt XL
                              quantity: 1
                              weight:
                                value: 0.3
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: NL
                              sku: TS1234
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: XL
                                color: green
                            - item_id: '98712'
                              description: Sneakers 42
                              quantity: 1
                              weight:
                                value: 1.02
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: US
                              sku: TS1234
                              product_id: '19284'
                              mid_code: US1234567
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: 42
                                color: black
                      from_address:
                        address_line_1: Stadhuisplein 10
                        address_line_2: 2e verdieping
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: marie.doe@sendcloud.com
                        house_number: '10'
                        name: Marie Doe
                        phone_number: '+31612345678'
                        postal_code: 5611 EM
                        po_box: PO Box 678
                      to_address:
                        address_line_1: Insulindelaan
                        address_line_2: ''
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: john.doe@sendcloud.com
                        house_number: '115'
                        name: John Doe
                        phone_number: '+31612345678'
                        postal_code: 5642 CV
                        po_box: PO Box 483
                      ship_with:
                        type: shipping_option_code
                        properties:
                          shipping_option_code: postnl:standard
                          contract_id: 517
                      customs_information: null
                      carrier:
                        code: postnl
                        name: PostNL
                      errors: []
                      applied_shipping_rules:
                        - rule:
                            id: 315157
                            name: Ship with PostNL for NL
                          result:
                            shipping_option_code: postnl:standard
                CreatedCustomsRequiredShipment:
                  summary: Shipment (with Customs and a single parcel) created
                  value:
                    data:
                      id: XXX-Shipment-id
                      label_details:
                        mime_type: application/pdf
                        dpi: 72
                      order_number: '1234567890'
                      total_order_price:
                        currency: EUR
                        value: '11.11'
                      parcels:
                        - id: 383707309
                          status:
                            code: READY_TO_SEND
                            message: Ready to send
                          documents:
                            - type: label
                              size: a6
                              link: >-
                                https://panel.sendcloud.sc/api/v3/parcels/383707309/documents/label
                          dimensions:
                            width: '15.00'
                            length: '5.00'
                            height: '20.00'
                            unit: cm
                          weight:
                            value: '1.320'
                            unit: kg
                          tracking_url: >-
                            https://tracking.eu-central-1-0.sendcloud.sc/forward?carrier=postnl&code=3SYZXG8498635&destination=NL&lang=en-us&source=NL&type=parcel&verification=5642+CV&servicepoint_verification=&created_at=2024-06-06
                          tracking_number: 3SYZXG8498635
                          additional_carrier_data:
                            awb_tracking_number: null
                            box_number: null
                          created_at: '2024-06-06T17:11:14.616615Z'
                          updated_at: '2024-06-06T17:11:14.648081Z'
                          announced_at: '2024-06-06T17:11:14.712398Z'
                          parcel_items:
                            - item_id: '5552'
                              description: T-Shirt XL
                              quantity: 1
                              weight:
                                value: 0.3
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: NL
                              sku: TS1234
                              product_id: '19284'
                              mid_code: NLOZR92MEL
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: XL
                                color: green
                            - item_id: '98712'
                              description: Sneakers 42
                              quantity: 1
                              weight:
                                value: 1.02
                                unit: kg
                              price:
                                value: '12.65'
                                currency: EUR
                              hs_code: '620520'
                              origin_country: US
                              sku: TS1234
                              product_id: '19284'
                              mid_code: US1234567
                              material_content: 100% Cotton
                              intended_use: Personal use
                              dds_reference: 25FIYPEK0A7573
                              taric_doc_code: Y142
                              properties:
                                size: 42
                                color: black
                      from_address:
                        address_line_1: Stadhuisplein 10
                        address_line_2: 2e verdieping
                        city: Eindhoven
                        company_name: Sendcloud
                        country_code: NL
                        email: marie.doe@sendcloud.com
                        house_number: '10'
                        name: Marie Doe
                        phone_number: '+31612345678'
                        postal_code: 5611 EM
                        po_box: PO Box 678
                      to_address:
                        name: John Doe
                        company_name: Company XYZ
                        address_line_1: 10 Kamal Chunchie Way
                        address_line_2: ''
                        postal_code: E16 1ZE
                        city: London
                        country_code: GB
                        phone_number: '+31612345678'
                        email: john.doe@sendcloud.com
                        state_province_code: GB-ENG
                        po_box: PO Box 678
                      ship_with:
                        type: shipping_option_code
                        properties:
                          shipping_option_code: dhl_express:worldwide/incoterm=dap
                          contract_id: 4195
                      customs_information:
                        invoice_number: INV-123
                        export_reason: commercial_goods
                        export_type: private
                        invoice_date: '2023-08-24'
                        discount_granted:
                          value: '14.99'
                          currency: EUR
                        freight_costs:
                          value: '21.98'
                          currency: EUR
                        insurance_costs:
                          value: '3.60'
                          currency: EUR
                        other_costs:
                          value: '1.2'
                          currency: EUR
                        goods_description: Electronic components and accessories
                        general_notes: >-
                          Compliance: Goods comply with international safety
                          standards (CE certified).
                        additional_declaration_statements:
                          - >-
                            With reference to the above shipment, I understate
                            that the content is not made of leather parts of
                            animal species protected by the Washington
                            Convention.
                          - >-
                            I solemnly declare that the contents of this
                            document represent a true and accurate account of
                            the events as they occurred. I acknowledge my
                            responsibility for the information presented herein
                            and understand that any misrepresentation or
                            falsification may result in legal consequences or
                            other penalties as applicable.
                        importer_of_record:
                          name: John Doe
                          company_name: ImporterCo
                          address_line_1: Maple Avenue
                          address_line_2: ''
                          house_number: '123'
                          postal_code: '90210'
                          city: Springfield
                          country_code: US
                          state_province_code: US-MA
                          telephone: '+15551234567'
                          email: info@importer-of-record-example.com
                        tax_numbers:
                          sender:
                            - name: VAT
                              country_code: NL
[...]
